/* You can add global styles to this file, and also import other style files */

:root {
  --hover-shadow-box: 0px 10px 13px -7px #000000, 1px 1px 27px 3px rgba(150,150,250,0.4);
  --hover-shadow-box-soft:  0px 10px 13px -7px #000000, 1px 1px 27px -3px rgba(180,180,250,0.4);
  --text-shadow: 0px 0px 17px rgba(255, 68, 128, 1);
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("assets/images/background.png") fixed top no-repeat;
    background-size: cover;
    .gradient-bg {
      background: url("assets/images/background.png") fixed top no-repeat;
      background-size: cover;
    }
    .active-link {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 27px 3px rgba(150,150,250,0.4);
        box-shadow: 0px 10px 13px -7px #000000, 1px 1px 27px -3px rgba(180,180,250,0.4);
        border-radius: 10px;
      }
    .bg-none {
      background: transparent;
    }

    .z-index-moreover {
      z-index: 9999;
    }

    .z-index-strong {
      z-index: 1000;
    }
}

